@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  

*/

body {
  font:12px/1.3 Arial, sans-serif;
  background: #d8d8d8;
  a {
    &:hover {
      text-decoration:none
    }
  }
  .wrap {
    background: #fff;
    width: 970px;
    padding: 17px 15px;
    margin: 0 auto;
    .box-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
    .border-radius(0px 0px 10px 10px);
    position: relative;
    z-index: 1000;
    .clearfix();
  }
  .w {
    width: 975px;
    margin: 0 auto;
  }
  &.pop {
    overflow: hidden;
  }
}

header {
  margin: 0 0 6px 0;
  .clearfix();
  .b_logo {
    float: left;
  }
  .b_phone {
    float: right;
    margin: 15px 16px 12px;
  }
  .b_login_register {
    float: right;
    margin: 0 16px 0;
    clear: right;
  }
  .b_menu {
    clear: both;
    margin: 0 6px;
  }
}
footer {
  background: #e4ddc9;
  z-index: 900;
  margin: -20px 0 0 0;
  padding: 40px 0 20px 0;
  .b_footer_menu {
    margin: 0 0 17px;
  }
  .b_footer_tags {
    margin: 0 0 10px;
  }
  .b_footer_search {
    float: right;
    margin: 0 0 10px;
  }
  .b_copyright {
    margin: ;
  }
}
section {
  width: 680px;
  float: left;
  .b_find_box {
    margin: 0 0 7px;
    position: relative;
    &>.b_order_tour {
      position: absolute;
      top: 0px;
      right: 30px;
    }
  }
  .b_page_label {
    margin: 0 0 7px;
  }
  .b_country_box {
    width: 328px;
    float: left;
    margin: 0 0 10px;
  }
  .b_sublabel {
    margin: 0 0 5px;
  }
  .b_region_description {
    margin: 0 0 10px;
  }
  .b_special {
    margin: 15px 0 0;
  }
  .b_summer_label {
    margin: 0 0 5px;
  }
  .b_summer_text {
    margin: 0 0 5px;
  }
  .b_tours_box {
    margin: 0 20px 25px 0;
  }
  .b_tabs_in_content {
    margin: 0 0 8px;
  }
  .b_pagetitle_map {
    margin: 0 0 10px;
  }
  .b_cour_table {
    margin: 0 0 10px;
  }
  .b_country_description {
    margin: 0 0 10px;
  }
}
aside {
  width: 270px;
  margin: 0 6px 0 0;
  float: right;
  .b_box1 {
    margin-bottom: 15px;
    .bd {
      padding: 10px;
    }
  }
}

/* Elems */

.b_logo {
  display:inline-block;
  img {
    display:block;
  }
}

.b_phone {
  background: url('i/phone.bg.png') no-repeat 0px 4px;
  padding:0 0 0 26px;
  text-align:right;
  display:inline-block;
  p {
    color:#cb0000;
    font-weight:bold;
    font-size:9px;
    &.title {
      color:#00499e;
      font-size:23px;
      font-weight:bold;
    }
  }
}

.b_menu {
  background: url('i/menu.bg.png') repeat-x top left;
  border:1px solid #b6b6b6;
  .border-radius(0 0 8px 8px);
  span.buble {
    background: url('i/buble.left.png') no-repeat top left;
    color:#fff;
    font-size:16px;
    font-weight:normal;
    position:absolute;
    display:none;
    white-space:nowrap;
    z-index:4000;
    line-height:31px;
    height:41px;
    padding:0px 0px 0px 14px;
    top:-35px;
    left:18px;
    i {
      background: url('i/buble.right.png') no-repeat top left;
      height:32px;
      width:14px;
      position:absolute;
      top:0px;
      right:-14px;
    }
  }
  &>ul {
    &>li {
      height:38px;
      font:bold 18px/38px Arial, sans-serif;
      float:left;
      padding:0px 20px;
      background: url('i/menu.deli.png') no-repeat left center;
      border:1px solid rgba(0, 0, 0, 0);
      border-width:0px 1px;
      position:relative;
      &:first-child {
        background:none;
      }
      &:hover {
        background: url('i/menu.bg.hover.png') repeat-x top left;
        border-color:#cfcfcf;
        &>a {
          color:#da690a;
        }
        span.buble {
          display:block;
        }
        ul {
          display:block;
          z-index:5000;
        }
        &:first-child {
          border-color:rgba(0, 0, 0, 0) #cfcfcf rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
          .border-radius(0 0 0 8px);
        }
      }
      &>a {
        color:#333;
        text-decoration:none;
      }
      &:hover + li {
        background:none;
      }
      ul {
        background:#f5f2e8;
        border:1px solid #c3c3c3;
        position:absolute;
        top:38px;
        left:-1px;
        padding:6px 11px;
        .border-radius(5px);
        display:none;
        li {
          white-space:nowrap;
          font:12px/16px Arial, sans-serif;
          a { 
            color:#333333;
            text-decoration:none;
            &:hover {
              color:#da690a;
            }
          }
        }
      }
    }
  }
}

.b_login_register {
  background:#f6f6f6;
  border:1px solid #b3b3b3;
  display:inline-block;
  .border-radius(4px 4px 0 0);
  line-height:26px;
  a.enter {
    background: url('i/lr.bg.png') no-repeat top right;
    display:block;
    float:left;
    padding:0 34px 0 16px;
    color:#00499e;
    text-decoration:none;
  }
  a.register {
    background:#eaeaea;
    display:block;
    float:left;
    .border-radius(0 4px 0 0);
    padding:0 10px 0 0;
    text-decoration:none;
    color:#929292;
  }
  a:hover {
    text-decoration:underline;
  }
}

.b_box1 {
  border:1px solid #c2c2c2;
  padding:1px;
  .label {
    background:#1f2c41;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    line-height:31px;
    padding:0 14px;
    margin-bottom:1px;
  }
  .info {
    border:1px solid #c2c2c2;
    border-width:1px 0 0 0;
    margin:0px -1px;
    padding:1px;
    .bd {
      border-top:5px solid #ffa400;
      margin:0 0 4px;
      .b_aside_hotel {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.b_order_tour {
  border:2px solid #cccccc;
  display:inline-block;
  .border-radius(10px);
  line-height:18px;
  background:#fff;
  a {
    float:left;
    background: url('i/btn.bg.png') repeat top left;
    .border-radius(8px);
    padding:0px 20px;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    height:19px;
    border:1px solid #d90015;
    .box-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
  }
  span {
    line-height:21px;
    color:#cb0000;
    padding:0px 10px;
  }
}

span.b_phone_elem {
  background: #072a52 url('i/phone.png') no-repeat left center;
  padding:0 0 0 18px;
  font-size:12px;
  font-weight:normal;
  color:#fff;
  vertical-align:1px;
  display:inline-block;
}

.b_find_box {
  width:674px;
  display:block;
  .label {
    background: url('i/label.bg.png') no-repeat top left;
    color:#fff;
    height:39px;
    font: italic 18px/39px Arial, sans-serif;
    padding:0 0 0 20px;
    span.b_phone_elem {
      margin:0 0 0 30px;
      vertical-align:2px;
    }
  }
  .tabs {
    background: url('i/tabs.png') no-repeat top left;
    height:69px;
    padding:0 0 0 39px;
    @k: -69px;
    &[rel="1"] { background-position:0 0; }
    &[rel="2"] { background-position:0 @k * 1; }
    &[rel="3"] { background-position:0 @k * 2; }
    &[rel="4"] { background-position:0 @k * 3; }
    &[rel="5"] { background-position:0 @k * 4; }
    &[rel="6"] { background-position:0 @k * 5; }
    &[rel="7"] { background-position:0 @k * 6 + 1; }
    &[rel="8"] { background-position:0 @k * 7 + 1; }
    &[rel="9"] { background-position:0 @k * 8 + 1; }
    a {
      display:block;
      float:left;
      width:60px;
      height:69px;
    }
  }
  .box {
    border:3px solid #d0d0d0;
    border-width:0 3px 3px 3px;
    margin:0 0 0 5px;
    padding:2px;
    .border-radius(0px 0px 6px 6px);
    .bg {
      .vertical(#ffc357, #ffa502);
      .border-radius(0px 0px 3px 3px);
    }
    .el {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

.b_aside_menu {
  li {
    background: url('i/li.png') no-repeat 0px 6px;
    padding:0 0 0 16px;
    a {
      font:14px/20px Arial, sans-serif;
      color:#333333;
    }
  }
}

.b_footer_tags {
  font-size:10px;
  border-top:1px dotted #888888;
  padding:10px 14px 0 14px;
  a {color:#000;}
}

.b_copyright {
  font-size:10px;
  border-top:1px dotted #888888;
  padding:0px 14px;
  hr {
    border:none;
    border-bottom:3px solid #ffa400;
    margin:0 0 10px;
    width:253px;
  }
}

.b_footer_search {
  display:inline-block;
  input[type="text"] {
    background: url('i/f.s.bg.png') repeat-x top left;
    border:1px solid #e1e0e0;
    float:left;
    padding:3px 10px;
    width:380px;
    font-size:11px;
  }
  input[type="image"] {
    float:left;
    margin:8px 0 0 -20px;
  }
}

.b_footer_menu {
  font-size:10px;
  a {color:#000;}
  .box {
    border-top:1px dotted #888888;
    padding:15px 0 0 0;
    margin:5px 0 0 0;
  }
  .col {
    width:240px;
    float:left;
    &:first-child {
      margin:0 0 0 70px;
    }
    .label {
      color:#888888;
      font-size:14px;
      margin-bottom:5px;
      a {
        color:#888;
      }
    }
  }
}

.b_page_label {
  background:#072a52;
  .border-radius(7px 7px 0 0);
  color:#fff;
  height:31px;
  line-height:31px;
  font-size:18px;
  font-weight:bold;
  padding:0px 12px;
  i {
    background: url('i/arr.down.png') no-repeat scroll top left;
    width: 9px;
    height: 11px;
    display:inline-block;
    margin: 0 5px;
    &.rotate {
      .rotate(-90deg);
    }
  }
  .b_phone_elem {
    float: right;
    margin: 0 10px 0 0;
  }
}

.b_country_box {
  background: url('i/bg.country.png') repeat-x;
  padding:8px 4px 0px 8px;
  .box {
    border:1px solid #b3b3b3;
    .box-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    background:#f3f3f3 url('i/c.png') repeat-x;
    .lbls {
      margin:-9px 0 0 -1px;
      .label {
        background: url('i/bg.c.l.png') repeat-x;
        border:1px solid #b3b3b3;
        font-size:18px;
        color:#ff7800;
        .border-radius(0 0 7px 7px);
        .box-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
        padding:0px 14px;
        height:29px;
        line-height:29px;
        display:block;
        float:left;
      }
    }
    .image {
      margin:10px 5px 0px;
      border:2px solid #fff;
      .box-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
      img {
        display:block;
        width:100%;
      }
    }
    p {
      text-align:right;
      color:#888888;
      padding:7px;
      a {color:#888;}
    }
  }
}

.b_special {
  border:1px solid #e4e4e4;
  .border-radius(5px 5px 0 0);
  .label {
    background:#ffa400;
    .border-radius(5px 5px 0 0);
    margin:-1px -1px 0;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    height:25px;
    line-height:25px;
    padding:0 15px;
  }
}

.b_sublabel {
  background: url('i/sublabel.bg.png') no-repeat top left;
  height:33px;
  span.l {
    font-size:20px;
    font-weight:bold;
    color:#ff7800;
    padding:5px 0 0 11px;
    display:block;
    float:left;
  }
  .b_order_tour {
    float:right;
    margin:6px 0 0 0;
  }
  p {
    color: #004a9f;
    font-weight: bold;
    padding: 10px 0 0 10px;
  }
  &.other_font {
    span.l { font-family: "Helvetica Narrow","Arial Narrow",Arial,sans-serif; }
  }
}

.b_select_tour {
  .label {
    background:#ffa400;
    margin: 0;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    height:25px;
    line-height:25px;
    padding:0 15px;
  }
  .box {
    background: url('i/bg.tours.png') no-repeat;
    background-size: 100%;
  }
}

.b_button_tour {
  border:2px solid #cccccc;
  .border-radius(10px);
  background:#fff;
  a {
    display:block;
    font-size:14px;
    background: url('i/btn.t.bg.png') repeat scroll top left transparent;
    .border-radius(8px);
    padding:3px 15px;
    color:#ea690a;
    font-weight:bold;
    height:19px;
    .box-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
    i {
      float:right;
      background: url('i/f.s.btn.to.png') no-repeat scroll top left transparent;
      width: 11px;
      height: 9px;
      margin-top:6px;
    }
    &:hover {
      text-decoration:none;
      color:#fff;
      background:#ffaf20;
      i {
        background: url(i/f.s.btn.tw.png);
      }
    }
  }
  &.blue {
    a {
      color:#004a9f;
      i {
        background: url('i/f.s.btn.tb.png') no-repeat scroll top left transparent;
      }
      &:hover {
        color: #fff;
        background:#004a9f;
        i {
          background: url(i/f.s.btn.twb2.png);
        }
      }
    }
  }
  &.yellow {
    a {
      color: #fff;
      .vertical(#ffb837, #db8d00);
      i {
        background: url(i/f.s.btn.tw.png);
      }
      &:hover {
        color:#ea690a;
        background: url('i/btn.t.bg.png') repeat scroll top left transparent;
        i {
          background: url('i/f.s.btn.to.png') no-repeat scroll top left transparent;
        }
      }
    }
  }
}

.b_box_tour {
  padding: 25px 15px;
  .b_button_tour {
    float: left;
    width: 270px;
    .box-shadow(3px 3px 5px rgba(0, 0, 0, 0.1));
  }
  .link {
    margin-left: 290px;
    a {
      color: #004a9f;
    }
  }
  &.nth {
    background: #e7e7e7;
    border-top: 1px solid #b8b8b8;
  }
  &.big {
    .clearfix();
    text-align: center;
    .link {
      margin-left: 0;
      text-align: center;
    }
    .b_button_tour {
      display: inline-block;
      float: none;
      margin: 10px 20px 0px;
    }
  }
  &.left {
    text-align: left;
    .link {
      text-align: left;
    }
  }
}

.b_summer_label {
  background:#072a52;
  .border-radius(7px 7px 0 0);
  border:1px solid #d2d2d2;
  padding:11px 13px;
  img {
    display: block;
    float: left;
  }
  .b_sun_label {
    margin: -5px 0;
    margin-left: 15px;
  }
  .b_phone_elem {
    float: right;
  }
}

.b_sun_label {
  background: #072a52 url('i/sun_label.png') no-repeat;
  height:24px;
  padding:0 0 0 35px;
  //text-align:right;
  display:inline-block;
  p{
    font-family: "Helvetica Narrow","Arial Narrow",Arial,sans-serif;
    padding:3px 0px 0px 0px;
    color:#fff;
    font-size:16px;
    font-weight:bold;
   }
}

.b_summer_text {
  .text_s {
   font-size:12px;
   color:#cb0000;
   font-weight:bold;
   border-top:1px solid #e4e4e4;
   border-left:1px solid #e4e4e4;
   padding:8px 10px;
   }
   img {
     display: block;
   }
}

.b_incut_box {
  .title {
    background: #ea690a;
    .border-radius(10px);
    font: 12px/24px Arial, sans-serif;
    color: #fff;
    padding: 0px 19px;
  }
  .content {
    margin: 0px 10px;
    padding: 18px 17px;
    background: #eaeaea;
    color: #888888;
    font: 12px/20px Arial, sans-serif;
  }
}

.b_table {
  background: #fff;
  width: 100%;
  font: 14px/21px Arial, sans-serif;
  border: 2px solid #bdc1c2;
  border-width: 2px 0px;
  tr {
    border-bottom: 12px solid #fff;
    td {
      background: #e6eaec;
      border-right: 1px solid #fff;
      padding: 0px 11px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.b_tours_box {
  .box-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
  position: relative;
  img.image {
    float: left;
  }
  .data {
    margin-left: 266px;
  }
  .b_page_label {
    .border-radius(0);
    margin-bottom: 2px;
  }
  .text {
    background: #ececec;
    padding: 10px 15px 25px;
    font-size: 12px;
    color: #888888;
  }
  .b_button_tour {
    position: absolute;
    bottom: -13px;
    right: -13px;
    i {
      margin-left:20px;
    }
  }
}

.b_main_slider {
  padding: 5px 7px;
  border: 1px solid #b3b3b3;
  clear: both;
}

.b_region_description {
  p {
    font-family: Arial, sans-serif;
    color:#888888;
    font-weight:bold;
    strong{
      color:#333333;
    }
  }
}

.b_tabs_in_content {
  background: url('i/th.bg.png') repeat-x;
  height: 31px;
  line-height: 31px;
  .box-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
  .border-radius(0 0 7px 7px);
  a {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    padding: 0px 20px;
    background: url('i/th.bg.a.png') no-repeat top left;
    &:first-child {
      background: none;
    }
  }
  a.active {
    .box-shadow(inset 0px 2px 4px rgba(0, 0, 0, 0.7));
    background: none;
    color: #ea690a;
    &:first-child {
      .border-radius(0 0 0 7px);
    }
  }
}

.b_pagetitle_map {
  .clearfix();
  border: 1px solid #dfdfdf;
  .box-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  .title {
    background: url('i/bg.map_box.png') repeat-x;
    float: left;
    border: 2px solid #e9af65;
    border-width: 0 2px 2px 2px;
    padding-top: 3px;
    .box-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
    .border-radius(0 0 5px 0);
    a {
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
      color: #fff;
      line-height: 26px;
      padding: 0px 10px;
    }
  }
  .map {
    background: url('i/map.au.png') no-repeat left bottom;
    float: left;
    margin: 3px 0 10px 20px;
    padding: 0 0 40px;
    width: 130px;
    a {color: #004a9f;}
  }
  .b_order_tour {
    float: right;
    margin: 5px 5px 10px 0;
  }
}

.b_country_description {
  background: #ebebeb;
  padding: 10px 10px 0;
  .point {
  }
  p {
    font-size: 12px;
    color: #333333;
    padding-bottom: 10px;
    &.orange {
      color: #ea690a;
    }
    &.gray {
      color: #888888;
    }
  }
  strong {font-weight: bold;}
  h4 {
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h5 {
    margin-bottom: 5px;
    color: #ea690a;
    a {color: #ea690a;}
  }
  a {
    color: #004a9f;
  }
}

.b_cour_table {
  border: 1px solid #dfdfdf;
  padding: 7px 10px;
  .box-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  table {
    width: 100%;
    color: #004a9f;
    tr:nth-child(even) {
      background: #eeeadd;
    }
    td {
      padding: 3px 10px;
    }
  }
}

.b_mice {
  border: 1px solid #dfdfdf;
  .b_sublabel {
    margin: -1px 0 10px -1px;
  }
  .b_order_tour {
    margin: 0 15px 10px;
  }
  .title {
    margin: 0 15px 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  p {
    margin: 0 15px 10px;
    &.gray {
      color: #888888;
    }
  }
  small {
    font-size: 11px;
  }
  strong, b {
    font-weight: bold;
    font-size: 14px;
  }
  .orange {
    color: #ea690a;
  }
  hr {
    border: none;
    background: url('i/hr.bg.png') no-repeat top left;
    height: 10px;
  }
  .hotel {
    &>.title {
      background: #e8e8e8;
      .clearfix();
      line-height: 52px;
      font-size: 20px;
      padding: 0px 20px;
      img {
        float: right;
        border: 3px solid #fff;
        border-width: 0 3px;
      }
    }
    .photo_line {
      margin-left: 15px;
      margin-bottom: 15px;
      .clearfix();
      img {
        display: block;
        float: left;
        margin-right: 1px;
      }
    }
    img.l {
      float: left;
      margin: 0 20px 20px 15px;
    }
    .desc {
      border: 1px solid #d3d3d3;
      margin-left: 252px;
      margin-right: 10px;
      .box-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
      .title {
        font-weight: bold;
        font-size: 18px;
        padding: 5px 15px;
        margin: 0;
        background: #fff;
      }
      .text {
        background: #e8e8e8;
        border-top: 1px solid #d3d3d3;
        padding: 15px 15px;
        .box-shadow(inset 0px 1px 0px rgba(0, 0, 0, 0.1));
        p {margin: 0;}
      }
    }
    .b1 {
      margin: 0px 15px 10px;
      .title {
        font-size: 18px;
      }
      .text {
        padding: 15px;
        background: #e8e8e8;
        color: #333;
        p {margin: 0;}
      }
    }
  }
}

.b_aside_hotel {
  .title {
    font-weight: bold;
    font-size: 18px;
    color: #888;
    small {
      font-size: 12px;
    }
  }
  p {
    font-size: 14px;
    a {
      color: #000;
    }
  }
}

.popups {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  overflow-y: scroll;
}

.b_popup {
  margin: 30px auto;
  width: 650px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  .box-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
  .border-radius(10px);
  padding: 5px 15px;
  .title {
    background: #333333;
    color: #ffffff;
    .border-radius(7px);
    margin: 0px -10px 10px;
    padding: 5px 10px;
    font-weight: bold;
    a.close {
      float: right;
      margin: 1px 0 0 0;
      img {
        display: block;
      }
    }
  }
  .content {
    font-size: 14px;
    strong {font-weight: bold;}
    p {margin-bottom: 10px;}
    .field {
      .clearfix();
      margin: 0 0 13px;
      label {
        float: left;
        width: 220px;
        text-align: right;
        margin: 5px 0 0;
      }
      .input {
        margin-left: 230px;
        text-align: right;
        input[type="text"], textarea {
          .box-sizing(border-box);
          width: 100%;
          border: 2px solid #e6e6e6;
          padding: 5px 7px;
          font-size: 13px;
          font-family: Arial;
          color: #444;
        }
        .check {
          display: inline-block;
          font-size: 12px;
          font-weight: bold;
          color: #333333;
          white-space: nowrap;
          margin-left: 30px;
          margin-bottom: 13px;
          input[type="text"] {
            display: inline-block;
            width: 200px;
            margin-left: 10px;
          }
          &:last-child {
            margin-bottom: 0px;
          }
        }
        p.d {
          margin: 3px 0 0 0;
          font-weight: bold;
          font-size: 11px;
          color: #888888;
        }
      }
      &.auto {
        label {
          width: auto;
          display: inline-block;
        }
        .input {
          margin-left: 0px;
          display: inline-block;
          input[type="text"] {width: auto; margin-left: 10px;}
          input[type="checkbox"] {margin-left: 10px;margin-top: 8px;}
        }
      }
      &.btn {
        input {
          float: right;
        }
      }
    }
  }
  &.blue {
    .title {
      background: #00abea;
    }
  }
}

.b_sended {
  background: #f0e2c1;
  border: 2px solid #f2b960;
  width: 520px;
  margin: 20px auto;
  color: #c77405;
  font-size: 24px;
  text-align: center;
  line-height: 56px;
  .border-radius(10px);
  img {
    vertical-align: 2px;
    margin-right: 5px;
  }
}

/* Forms */
.b_form {
  input[type="text"], textarea {
    border: 1px solid #d19b33;
    font-size: 11px;
    //font-family: Arial, sans-serif;
    .vertical(#ffecb5, #fffcf1);
  }
  textarea {
    height: 66px;
  }
  .title {
    margin: 0px 0 10px 7px;
    padding: 3px 0 0 0;
    font-size: 18px;
    em {
      color: #888888;
      font-size: 14px;
      margin-left: 15px;
    }
    a {
      float: right;
      font-size: 12px;
      margin-right: 9px;
      margin-top: 4px;
    }
  }
  .field_btn {
    .clearfix();
    margin-bottom: 3px;
    input[type="image"] {
      float: left;
    }
    .text {
      margin-left: 200px;
      font-size: 12px;
      color: #660000;
      line-height: 14px;
    }
  }
  .row {
    margin-left: 9px;
    margin-top: 10px;
    .clearfix();
  }
  .sel_link {
    border: 1px solid #deb256;
    background: #ffebaf;
    text-decoration: none;
    color: #660000;
    font-size: 14px;
    padding: 3px 15px;
    &.active {
      border-color: #deb256;
      background-color: #f2d37a;
      text-decoration: underline;
    }
  }
  .field {
    label {
      color: #660000;
      font-size: 14px;
    }
  }
}
.b_form1 {
  font-size: 14px;
  a.ajax_link {
    color: #7d3a09;
    border-bottom: 1px dotted #7d3a09;
    text-decoration: none;
    &.active {
      border-bottom: none;
      background: #a95f00;
      color: #fff;
      padding: 0px 3px;
    }
  }
  input[type="text"] {
    border: 1px solid #d19b33;
    .vertical(#ffecb5, #fffcf1);
  }
  .title {
    margin: 0px 0 10px 7px;
    padding: 3px 0 0 0;
    font-size: 18px;
  }
  .field_btn {
    margin-left: 7px;
  }
  .col1 {
    float: left;
    width: 410px;
    .f_link {
      margin-left: 15px;
    }
    .field {
      .clearfix;
      margin-bottom: 9px;
      label {
        float: left;
        width: 122px;
        margin: 0 0 0 7px;
      }
      .input {
        margin-left: 129px;
        select {
          width: 100%;
        }
      }
      &.date {
        label {
          width: 100px;
        }
        .input {
          margin-left: 120px;
          font-size: 12px;
        }
        input[type="text"] {
          width: 90px;
          .box-sizing(border-box);
        }
      }
      &.price {
        .input {
          margin-left: 114px;
          a {
            font-size: 10px;
          }
        }
      }
    }
  }
  .col2 {
    float: right;
    width: 230px;
    margin-right: 10px;
    .field {
      margin-bottom: 9px;
      label {
        float: left;
        width: 89px;
        margin-top: 4px;
      }
      .input {
        margin-left: 89px;
        font-size: 20px;
        margin: -5px 0 0 0;
      }
    }
    .checkbox {
      margin: 20px 0 15px;
      font-size: 12px;
    }
    .link_field {
      text-align: center;
      a {
        font-size: 12px;
        color: #7d3a09;
        border-bottom: 1px dashed #7d3a09;
        text-decoration: none;
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
}
.b_form2 {
  input[type="text"] {
    border: 1px solid #d19b33;
    .vertical(#ffecb5, #fffcf1);
  }
  .title {
    margin: 0px 0 10px 7px;
    padding: 3px 0 0 0;
    font-size: 18px;
  }
  a.ajax_link {
    color: #7d3a09;
    border-bottom: 1px dotted #7d3a09;
    text-decoration: none;
    &.active {
      border-bottom: none;
      background: #a95f00;
      color: #fff;
      padding: 0px 3px;
    }
  }
  .col1 {
    margin: 0 0 0 7px;
    width: 328px;
    float: left;
    .links {
      ul {
        width: 25%;
        float: left;
        line-height: 20px;
      }
    }
    input[type="text"] {
      .box-sizing(border-box);
      font-size: 17px;
      font-style: italic;
      width: 100%;
      border: 1px solid #d19b33;
      margin-bottom: 10px;
      .vertical(#ffecb5, #fffcf1);
    }
  }
  .col2 {
    width: 300px;
    float: left;
    .field {
      font-size: 14px;
      margin-bottom: 11px;
      label {
        float: left;
        width: 60px;
        text-align: right;
        margin-top: 0px;
      }
      .input {
        margin-left: 80px;
        font-size: 12px;
        &.nums {
          font-size: 15px;
        }
      }
      &.date {
        .input {
          margin-left: 68px;
          font-size: 14px;
        }
        input[type="text"] {
          width: 90px;
          .box-sizing(border-box);
        }
      }
    }
  }
  .field_btn {
    margin-top: 20px;
  }
}
.b_form3 {
  .b_form2;
  .col1 .field {
    margin: 15px 0 0 0;
    font-size: 11px;
    .r {
      float: right;
    }
  }
  .col2 p {
    margin: 30px;
  }
  .field_btn {
    margin-top: 10px;
  }
}
.b_form4 {
  .title {
    a {
      color: #888888;
    }
  }
  .row1 {
    .field1 {
      float: left;
      width: 189px;
      input[type="text"] {width: 100%;}
    }
    .field2 {
      float: left;
      width: 189px;
      margin-left: 20px;
      input[type="text"] {width: 100%;}
    }
    .field3 {
      float: left;
      width: 225px;
      margin-left: 20px;
      input[type="text"] {
        width: 100px;
      }
    }
  }
  .row2 {
    .c1 {
      float: left;
      width: 418px;
    }
    .c2 {
      float: left;
      width: 200px;
    }
  }
  .r {
    float: right;
    margin-right: 9px;
    margin-top: 2px;
  }
}
.b_form5 {
  .row1 {
    .field1, .field2, .field3 {
      float: left;
      input[type="text"] {width: 100%;}
    }
    .field2, .field3 {margin-left: 20px;}
    .field1 {width: 142px;}
    .field2 {width: 223px;}
    .field3 {width: 230px;}
  }
  .row2 {
    .field1, .field2 {
      float: left;
      input[type="text"] {width: 100%;}
    }
    .field1 {width: 240px;}
    .field2 {width: 374px;margin-left: 20px;}
  }
}
.b_form6 {
  .row3 {
    .field1, .field2, .field3 {
      float: left;
      input[type="text"] {width: 100%;}
      label {
        font-size: 13px;
      }
    }
    .field2, .field3 {margin-left: 20px;}
    .field1 {width: 240px;}
    .field2 {width: 240px;}
    .field3 {width: 115px;}
  }
  .row4 {
    .field1, .field2, .field3 {
      float: left;
      input[type="text"] {width: 100%;}
    }
    .field2, .field3 {margin-left: 20px;}
    .field1 {width: 199px;}
    .field2 {width: 199px;}
    .field3 {width: 199px;}
  }
}
.b_form7 {
  .row4 {
    .field1, .field2, .field3 {
      float: left;
      input[type="text"] {width: 100%;}
    }
    .field2, .field3 {margin-left: 20px;}
    .field1 {width: 199px;}
    .field2 {width: 199px;}
    .field3 {width: 199px;}
  }
  .row5 {
    .field1, .field2 {
      float: left;
      input[type="text"], textarea {width: 100%;}
    }
    .field2, .field3 {
      margin-left: 20px;
    }
    .field1 {width: 199px;}
    .field2 {width: 381px; margin-top: -30px;}
    .field3 {float: left; margin-top: 17px;input{margin-left: 20px;}}
  }
}
.b_form9 {
  .title {
    span {
      font-size: 14px;
    }
  }
  p {
    margin: 10px 9px;
  }
  .b_order_tour {
    float: right;
    margin: 0 9px 20px 0;
  }
}

.b_form1, .b_form2, .b_form3, .b_form4, 
.b_form5, .b_form6, .b_form7, .b_form8, 
.b_form9 {
  input[type="text"] {
    padding: 3px 0px;
  }
  input.date {
    background-image: url('i/calendar.png');
    background-repeat: no-repeat;
    background-position: center right;
  }
}



