/ @include 'kit/head.kit'

.wrap
  %header
    / @include 'kit/b_logo.kit'
    / @include 'kit/b_phone.kit'
    / @include 'kit/b_login_register.kit'
    / @include 'kit/b_main_slider.kit'
    / @include 'kit/b_menu.kit'
  .content
    %section 
      / @include 'kit/b_find_box.kit'
      / @include 'kit/b_page_label.kit'
      / @include 'kit/b_country_box.kit'
      / @include 'kit/b_country_box.kit'
      .clear
      / @include 'kit/b_country_box.kit'
      / @include 'kit/b_country_box.kit'
      .clear
      / @include 'kit/b_page_label1.kit'
      / @include 'kit/b_sublabel.kit'
      / @include 'kit/b_region_description.kit'
      / @include 'kit/b_select_tour.kit'
      / @include 'kit/b_box_tour.kit'
      / @include 'kit/b_box_tour.kit'
      / @include 'kit/b_box_tour1.kit'
      / @include 'kit/b_box_tour2.kit'
      / @include 'kit/b_summer_label.kit'
      / @include 'kit/b_summer_text.kit'
      / @include 'kit/b_tours_box.kit'
      / @include 'kit/b_tours_box.kit'
      / @include 'kit/b_tours_box.kit'
      / @include 'kit/b_tours_box.kit'
      / @include 'kit/b_tabs_in_content.kit'
      .clear
      / @include 'kit/b_pagetitle_map.kit'
      / @include 'kit/b_page_label2.kit'
      / @include 'kit/b_cour_table.kit'
      / @include 'kit/b_country_description.kit'
      / @include 'kit/b_mice.kit'
      / @include 'kit/b_special.kit'
    %aside 
      / @include 'kit/b_box1.kit'
      / @include 'kit/b_box2.kit'

%footer 
  .w
    / @include 'kit/b_footer_menu.kit'
    / @include 'kit/b_footer_tags.kit'
    / @include 'kit/b_footer_search.kit'
    .clear
    / @include 'kit/b_copyright.kit'

.popups
  / @include 'kit/b_popup1.kit'
  / @include 'kit/b_popup2.kit'
  / @include 'kit/b_popup3.kit'
  / @include 'kit/b_sended.kit'

/ @include 'kit/foot.kit'