.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  font: 12px/1.3 Arial, sans-serif;
}
body a:hover {
  text-decoration: none;
}
.b_button_tour {
  border: 2px solid #cccccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}
.b_button_tour a {
  display: block;
  font-size: 14px;
  background: url('i/btn.t.bg.png') repeat scroll top left transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 3px 15px;
  color: #ea690a;
  font-weight: bold;
  height: 19px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.b_button_tour a i {
  float: right;
  background: url('i/f.s.btn.to.png') no-repeat scroll top left transparent;
  width: 11px;
  height: 9px;
  margin-top: 6px;
}
.b_button_tour a:hover {
  text-decoration: none;
  color: #fff;
  background: #ffaf20;
}
.b_button_tour a:hover i {
  background: url(i/f.s.btn.tw.png);
}
.b_button_tour.blue a {
  color: #004a9f;
}
.b_button_tour.blue a i {
  background: url('i/f.s.btn.tb.png') no-repeat scroll top left transparent;
}
.b_button_tour.blue a:hover {
  color: #fff;
  background: #004a9f;
}
.b_button_tour.blue a:hover i {
  background: url(i/f.s.btn.twb2.png);
}
.b_button_tour.yellow a {
  color: #fff;
  background-color: #f1a721;
  background-image: -moz-linear-gradient(top, #ffb837, #db8d00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffb837), to(#db8d00));
  background-image: -webkit-linear-gradient(top, #ffb837, #db8d00);
  background-image: -o-linear-gradient(top, #ffb837, #db8d00);
  background-image: linear-gradient(to bottom, #ffb837, #db8d00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffb837', endColorstr='#ffdb8d00', GradientType=0);
}
.b_button_tour.yellow a i {
  background: url(i/f.s.btn.tw.png);
}
.b_button_tour.yellow a:hover {
  color: #ea690a;
  background: url('i/btn.t.bg.png') repeat scroll top left transparent;
}
.b_button_tour.yellow a:hover i {
  background: url('i/f.s.btn.to.png') no-repeat scroll top left transparent;
}
.b_box2_tour {
  padding: 0px 15px;
}
.b_box2_tour .b_button_tour {
  float: left;
  width: 270px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.b_box2_tour .link {
  margin-left: 113px;
}
.b_box2_tour .link a {
  font-size: 11px;
  font-weight: bold;
  color: #004a9f;
}
.b_box2_tour.nth {
  background: #e7e7e7;
  border-top: 1px solid #b8b8b8;
}
