@import "less/mixins.less";


body {
  font:12px/1.3 Arial, sans-serif;
  a {
    &:hover {
      text-decoration:none
    }
  }
}

.b_button_tour {
  border:2px solid #cccccc;
  .border-radius(10px);
  background:#fff;
  a {
    display:block;
    font-size:14px;
    background: url('i/btn.t.bg.png') repeat scroll top left transparent;
    .border-radius(8px);
    padding:3px 15px;
    color:#ea690a;
    font-weight:bold;
    height:19px;
    .box-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
    i {
      float:right;
      background: url('i/f.s.btn.to.png') no-repeat scroll top left transparent;
      width: 11px;
      height: 9px;
      margin-top:6px;
    }
    &:hover {
      text-decoration:none;
      color:#fff;
      background:#ffaf20;
      i {
        background: url(i/f.s.btn.tw.png);
      }
    }
  }
  &.blue {
    a {
      color:#004a9f;
      i {
        background: url('i/f.s.btn.tb.png') no-repeat scroll top left transparent;
      }
      &:hover {
        color: #fff;
        background:#004a9f;
        i {
          background: url(i/f.s.btn.twb2.png);
        }
      }
    }
  }
  &.yellow {
    a {
      color: #fff;
      .vertical(#ffb837, #db8d00);
      i {
        background: url(i/f.s.btn.tw.png);
      }
      &:hover {
        color:#ea690a;
        background: url('i/btn.t.bg.png') repeat scroll top left transparent;
        i {
          background: url('i/f.s.btn.to.png') no-repeat scroll top left transparent;
        }
      }
    }
  }
}

.b_box2_tour {
  padding: 0px 15px;
  .b_button_tour {
    float: left;
    width: 270px;
    .box-shadow(3px 3px 5px rgba(0, 0, 0, 0.1));
  }
  .link {
    margin-left: 113px;
    a {
      font-size:11px;
      font-weight:bold;
      color: #004a9f;
    }
  }
  &.nth {
    background: #e7e7e7;
    border-top: 1px solid #b8b8b8;
  }
}


