<div class="b_find_box">
  <div class="label">Онлайн бронирование <span class="b_phone_elem">+7 (495) 211-17-20</span></div>
  <div class="tabs" rel="1">
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
  </div>
  <div class="box">
    <div class="bg">
      <div class="el active" rel="1"><form action="" class="b_form1">
  <div class="title">Туры онлайн</div>
  <div class="col1">
    <div class="field">
      <label for="">Страна / каталог</label>
      <div class="input">
        <select name="" id="">
          <option value="">-- все страны и каталоги --</option>
        </select>
      </div>
    </div>
    <div class="field">
      <label for="">Раздел каталога</label>
      <div class="input">
        <select name="" id="">
          <option value="">-- все разделы --</option>
        </select>
      </div>
    </div>
    <div class="field date">
      <label for="">Дата заезда</label>
      <div class="input">
        с <input type="text" name="" id="" value="09.02.2013" /> по <input type="text" name="" id="" value="15.02.2013" />
      </div>
    </div>
    <div class="field date price">
      <label for="">Цена на заказ</label>
      <div class="input">
        от <input type="text" name="" id="" /> до <input type="text" name="" id="" />
        <a class="active ajax_link" href="">евро</a> <a class="ajax_link" href="">рублей</a> <br />
        <a class="f_link active ajax_link" href="">любая</a>
        <a class="ajax_link" href="">от 1000</a>
        <a class="ajax_link" href="">1000-2000</a>
        <a class="ajax_link" href="">от 2000</a>
      </div>
    </div>
    <div class="field_btn"><input type="image" src="i/f_tour.png" alt="" /></div>
  </div>
  <div class="col2">
    <div class="field">
      <label for="">Взрослые</label>
      <div class="input">
        <a class="ajax_link" href="">1</a>
        <a class="ajax_link" href="">2</a>
        <a class="ajax_link" href="">3</a>
        <a class="ajax_link" href="">4</a>
        <a class="ajax_link" href="">больше</a>
      </div>
    </div>
    <div class="field">
      <label for="">Дети</label>
      <div class="input">
        <a class="ajax_link" href="">0</a>
        <a class="ajax_link" href="">1</a>
        <a class="ajax_link" href="">2</a>
        <a class="ajax_link" href="">3</a>
        <a class="ajax_link" href="">больше</a>
      </div>
    </div>
    <div class="field checkbox"><input type="checkbox" name="" id="" /> искать только в спецпредложениях</div>
    <div class="field link_field"><a class="ajax_link1" href="">расширенный поиск</a></div>
  </div>
  <div class="clear"></div>
</form></div>
      <div class="el" rel="2"><div class="b_form2">
  <div class="title">Отели онлайн</div>
  <div class="col1">
    <input type="text" name="" id="" placeholder="Введите название города или отеля" />
    <div class="links clearfix">
      <ul>
        <li><a class="ajax_link" href="">Город 1</a></li>
        <li><a class="ajax_link" href="">Город 2</a></li>
        <li><a class="ajax_link" href="">Город 3</a></li>
        <li><a class="ajax_link" href="">Город 4</a></li>
      </ul>
      <ul>
        <li><a class="ajax_link" href="">Город 5</a></li>
        <li><a class="ajax_link" href="">Город 6</a></li>
        <li><a class="ajax_link" href="">Город 7</a></li>
        <li><a class="ajax_link" href="">Город 8</a></li>
      </ul>
      <ul>
        <li><a class="ajax_link" href="">Город 9</a></li>
        <li><a class="ajax_link" href="">Город 10</a></li>
        <li><a class="ajax_link" href="">Город 11</a></li>
        <li><a class="ajax_link" href="">Город 12</a></li>
      </ul>
      <ul>
        <li><a class="ajax_link" href="">Город 13</a></li>
        <li><a class="ajax_link" href="">Город 14</a></li>
        <li><a class="ajax_link" href="">Город 15</a></li>
        <li><a class="ajax_link" href="">Город 16</a></li>
      </ul>
    </div>
    <div class="field_btn"><input type="image" src="i/f_hotel.png" alt="" /></div>
  </div>
  <div class="col2">
    <div class="field date">
      <label for="">Даты:</label>
      <div class="input">
        с <input type="text" name="" id="" value="09.02.2013" /> по <input type="text" name="" id="" value="15.02.2013" />
      </div>
    </div>
    <div class="field">
      <label for="">Номера:</label>
      <div class="input nums">
        <a class="ajax_link active" href="">1 double</a>
        <a href="" class="ajax_link">другой номер</a>
      </div>
    </div>
    <div class="field">
      <label for="">Звёзды:</label>
      <div class="input">
        <input type="radio" name="" id="" /> все
        <input type="radio" name="" id="" /> 2*
        <input type="radio" name="" id="" /> 3*
        <input type="radio" name="" id="" /> 4*
        <input type="radio" name="" id="" /> 5*
      </div>
    </div>
    <div class="field"><input type="checkbox" name="" id="" /> Доступные для бронирования</div>
    <div class="field"><input type="checkbox" name="" id="" /> Нужна визовая поддержка</div>
  </div>
  <div class="clear"></div>
</div></div>
      <div class="el" rel="3"><form action="" class="b_form3">
  <div class="title">Туры онлайн</div>
  <div class="col1">
    <input type="text" name="" id="" placeholder="Введите название города" />
    <div class="links clearfix">
      <ul>
        <li><a class="ajax_link" href="">Город 1</a></li>
        <li><a class="ajax_link" href="">Город 2</a></li>
        <li><a class="ajax_link" href="">Город 3</a></li>
      </ul>
      <ul>
        <li><a class="ajax_link" href="">Город 5</a></li>
        <li><a class="ajax_link" href="">Город 6</a></li>
        <li><a class="ajax_link" href="">Город 7</a></li>
      </ul>
      <ul>
        <li><a class="ajax_link" href="">Город 9</a></li>
        <li><a class="ajax_link" href="">Город 10</a></li>
        <li><a class="ajax_link" href="">Город 11</a></li>
      </ul>
      <ul>
        <li><a class="ajax_link" href="">Город 13</a></li>
        <li><a class="ajax_link" href="">Город 14</a></li>
      </ul>
    </div>
    <div class="field clearfix">
      Количество туристов 
      <select name="" id="">
        <option value="">2</option>
      </select>
      <div class="r">
        <input type="checkbox" name="" id="" /> нужна визовая поддержка
      </div>
    </div>
    <div class="field_btn"><input type="image" src="i/f_app.png" alt="" /></div>
  </div>
  <div class="col2">
    <div class="field date">
      <label for="">Даты:</label>
      <div class="input">
        с <input type="text" name="" id="" value="09.02.2013" /> по <input type="text" name="" id="" value="15.02.2013" />
      </div>
    </div>
    <p>Большая часть апартаментов доступна только с субботы по субботу. Учитывайте это при поиске!</p>
  </div>
  <div class="clear"></div>
</form></div>
      <div class="el" rel="4"><form action="" class="b_form b_form4">
  <div class="title">Авиабилеты <em>Куда хотите полететь ?</em> <a href="">Просто начинайте вводить название города или страны</a></div>
  <div class="row row0">
    <a href="" class="sel_link active">Туда и обратно</a>
    <a href="" class="sel_link">Только туда</a>
    <a href="" class="sel_link">Построить маршрут</a>
  </div>
  <div class="row row1">
    <div class="field field1">
      <label for="">Откуда</label>
      <div class="input"><input type="text" name="" id="" /></div>
      <div class="check"><input type="checkbox" name="" id="" /> Только прямые рейсы</div>
    </div>
    <div class="field field2">
      <label for="">Куда</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field3">
      <label for="">Когда</label>
      <div class="input">
        <input type="text" name="" id="" value="09.02.2013" /> &mdash; <input type="text" name="" id="" value="15.02.2013" />
      </div>
      <div class="check"><input type="checkbox" name="" id="" /> Гибкая дата</div>
    </div>
  </div>
  <div class="row row2">
    <div class="c1">
      <label for="">Дети от 12 лет</label>
      <select name="" id="">
        <option value="">0</option>
        <option value="">1</option>
      </select>
      <label for="">от 2 до 11 лет</label>
      <select name="" id="">
        <option value="">0</option>
        <option value="">1</option>
      </select>
      <label for="">до 2 лет</label>
      <select name="" id="">
        <option value="">0</option>
        <option value="">1</option>
      </select>
    </div>
    <div class="c2">
      <select name="" id="">
        <option value="">Любая а/к</option>
        <option value=""></option>
      </select>
    </div>
  </div>
  <div class="row field_btn">
    <input type="image" src="i/f_app.png" alt="" />
    <div class="r">
      <a href="" class="sel_link active">Эконом</a>
      <a href="" class="sel_link">Бизнес</a>
      <a href="" class="sel_link">Первый</a>
    </div>
  </div>
  <div class="clear"></div>
</form></div>
      <div class="el" rel="5"><form action="" class="b_form b_form5">
  <div class="title">Ж/д билеты</div>
  <div class="row row1">
    <div class="field field1">
      <label for="">Когда</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field2">
      <label for="">Откуда (страна, город)</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field3">
      <label for="">Куда (страна, город)</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
  </div>
  <div class="row row2">
    <div class="field field1">
      <label for="">Количество мест</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field2">
      <label for="">Как к вам обращаться</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
  </div>
  <div class="row row2">
    <div class="field field1">
      <label for="">Телефон</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field2">
      <label for="">Электронный адрес</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
  </div>
  <div class="row field_btn">
    <input type="image" src="i/f_rw.png" alt="" />
    <div class="text">Отправьте свои пожелания для получения предложения от специалиста по интересующей вас стране и теме.</div>
  </div>
  <div class="clear"></div>
</form></div>
      <div class="el" rel="6"><form action="" class="b_form b_form6">
  <div class="title">Прокат автомобилей</div>
  <div class="row row3">
    <div class="field field1">
      <label for="">Страна</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field2">
      <label for="">Город (аэропорт)</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field3">
      <label for="">Начало аренды</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
  </div>
  <div class="row row3">
    <div class="field field1">
      <label for="">Класс авто</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field2">
      <label for="">Продолжительность аренды</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field3">
      <label for="">Количество мест</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
  </div>
  <div class="row row4">
    <div class="field field1">
      <label for="">Как к вам обращаться</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field2">
      <label for="">Телефон</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field3">
      <label for="">Электронный адрес</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
  </div>
  <div class="row field_btn">
    <input type="image" src="i/f_rw.png" alt="" />
    <div class="text">Отправьте свои пожелания для получения предложения от специалиста по интересующей вас стране и теме.</div>
  </div>
  <div class="clear"></div>
</form></div>
      <div class="el" rel="7"><form action="" class="b_form b_form7">
  <div class="title">Экскурсии</div>
  <div class="row row5">
    <div class="field field1">
      <label for="">Страна</label>
      <input type="text" name="" id="" />
    </div>
    <div class="field field2">
      <label for="">Какие объекты или города хотите увидеть</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
  </div>
  <div class="row row5">
    <div class="field field1">
      <label for="">Город начала экскурсии</label>
      <input type="text" name="" id="" />
    </div>
    <div class="field field3">
      <label for="">Количество человек</label>
      <input type="text" name="" id="" />
    </div>
  </div>
  <div class="row row4">
    <div class="field field1">
      <label for="">Как к вам обращаться</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field2">
      <label for="">Телефон</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field3">
      <label for="">Электронный адрес</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
  </div>
  <div class="row field_btn">
    <input type="image" src="i/f_rw.png" alt="" />
    <div class="text">Отправьте свои пожелания для получения предложения от специалиста по интересующей вас стране и теме.</div>
  </div>
  <div class="clear"></div>
</form></div>
      <div class="el" rel="8"><form action="" class="b_form b_form6">
  <div class="title">Круизы</div>
  <div class="row row3">
    <div class="field field1">
      <label for="">Страна отправления</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field2">
      <label for="">Количество дней</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field3">
      <label for="">Дата начала тура</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
  </div>
  <div class="row row3">
    <div class="field field1">
      <label for="">Посещаемые страны</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field2">
      <label for="">Бюджет с человека</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field3">
      <label for="">Количество мест</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
  </div>
  <div class="row row4">
    <div class="field field1">
      <label for="">Как к вам обращаться</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field2">
      <label for="">Телефон</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
    <div class="field field3">
      <label for="">Электронный адрес</label>
      <div class="input"><input type="text" name="" id="" /></div>
    </div>
  </div>
  <div class="row field_btn">
    <input type="image" src="i/f_rw.png" alt="" />
    <div class="text">Отправьте свои пожелания для получения предложения от специалиста по интересующей вас стране и теме.</div>
  </div>
  <div class="clear"></div>
</form></div>
      <div class="el" rel="9"><form action="" class="b_form b_form9">
  <div class="title">Клиники <span>и Медицинские центры Швейцарии.</span></div>
  <p>Пожалуйста,  заполните анкету - иформация о Вас и Ваши пожелания помогут нам подобрать
  подходящие варианты медицинских центров, удовлетворяющих Вашему запросу.
  Наш менеджер свяжется с Вами.</p>
  <div class="b_order_tour">
  <a href="">Заказать</a> <span>Подберите мне тур!</span>
</div>  <div class="clear"></div>
</form></div>
    </div>
  </div>
</div>