<div class="b_footer_tags">
  <a href="">автобусные туры</a> <a href="">туры во францию</a> <a href="">отдых во франции</a> <a href="">туры в париж</a> <a href="">отдых в париже</a> <a href="">туры в италию</a> <a href="">отдых в италии</a> <a href="">туры в скандинавию</a> <a href="">отдых в скандинавии</a> <a href="">туры в финляндию</a> <a href="">отдых в финляндии</a> <a href="">туры в германию</a> <a href="">отдых в германии</a> <a href="">туры в австрию</a> <a href="">отдых в австрии</a> <a href="">туры в швейцарию</a> <a href="">отдых в швейцарии</a> <a href="">туры в чехию</a> <a href="">отдых в чехии</a> <a href="">туры в прагу</a> <a href="">отдых в праге</a> <a href="">туры в испанию</a>
</div>