<div class="b_popup">
  <div class="title">
    MICE запрос <span>Подбор тура для бизнес-групп!</span>
    <a href="" class="close"><img src="i/close.png"></a>
  </div>
  <div class="content">
    <p><strong>Оставьте свои пожелания, наш менеджер свяжется с Вами, уточнит детали и сделает за вас всю работу по онлайн-бронированию тура.</strong></p>
    <div class="field">
      <label for="">Ваши пожелания:</label>
      <div class="input"><textarea></textarea></div>
    </div>
    <div class="field">
      <label for="">Страна:</label>
      <div class="input"><input type="text"></div>
    </div>
    <div class="field">
      <label for="">Примерный бюджет:</label>
      <div class="input"><input type="text"></div>
    </div>
    <div class="field">
      <label for="">Дата поездки:</label>
      <div class="input"><input type="text"></div>
    </div>
    <div class="field">
      <label for="">Как к вам обращаться:</label>
      <div class="input"><input type="text"></div>
    </div>
    <div class="field">
      <label for="">Эл. почта:</label>
      <div class="input"><input type="text"></div>
    </div>
    <div class="field">
      <label for="">Телефон для связи:</label>
      <div class="input"><input type="text"></div>
    </div>
    <div class="field btn">
      <input type="image" src="i/send.png">
    </div>
  </div>
</div>