<div class="b_tours_box clearfix">
  <img src="i/t.png" class="image" alt="" />
  <div class="data">
    <div class="b_page_label">Автобусные туры</div>
    <div class="text">
      <p>Комбинированные Авиатуры Франция, страны Бенилюкса. Перелеты регулярными рейсами в Дюссельдорф. Автобусные туры во Францию и страны Бенилюкса, Италию, Германию, Австрию, Швейцарию, Чехию, Польшу, Венгрию.  </p>
    </div>
        <div class="b_button_tour yellow">
  <a href="">Вена, Зальцбург <i></i></a>
</div>  </div>
</div>